.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    background: rgb(74, 74, 74);
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.logoIntersect {
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stakeholder {
    float: right;
}

.initial-content {
    width: 90%;
    margin: 25px auto;
  }

.about-img{
    height: 230px;
}

.card p {
    margin: 0;
}

.card h2 {
    margin: 0.5em 0;
}

.card .button {
    padding: 1.25em;
}

.row {
    display: flex; /* equal height of the children */
}
  
.column {
    flex: 1; /* additionally, equal width */
}